body {
  width: 650px;
}

table, td {
  border: 1px solid #333;
  margin-left: 0.5em;
}

thead, tfoot {
  background-color: #333;
  color: #fff;
}

table {
  margin-top: 0.5em;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000;
  padding: 5px 5px;
}

tr:nth-child(even) {
  background: #eee;
}

tr:hover {
  background: #ff0;
}